[Desktop Entry]
Name=iRODS Client
GenericName=Kanki iRODS Client
Comment=Browse an iRODS Data Grid
Exec=irodsclient
Icon=irodsclient
Type=Application
Terminal=false

